.DS_Store
*.tgz
*.so
node_modules

build

packages/anoncreds-nodejs/native
packages/anoncreds-react-native/native
packages/anoncreds-react-native/android/build
packages/anoncreds-react-native/android/.cxx
.gradle

examples/anoncreds-react-native-example/android
examples/anoncreds-react-native-example/ios
examples/anoncreds-react-native-example/.expo
